version: "3"
services:
  app:
    image: yourdockerhub/dynamic-site:latest
    container_name: node_app
    restart: always

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
