name: Deploy App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Deploy
      run: |
        ssh user@SERVER_IP "
        cd app &&
        git pull origin main &&
        docker compose up -d --build
        "
